.social-container {
    background-color: #FFF7FC;
    font-size: 30px;
    color: black;
}

body {
    background-color: #FF71CD;
    text-align: center;
    color: black;
}

.social {
    color: whitesmoke;
}

.facebook {
    color:black;
}

.instagram {
    color: black;
}

.tiktok {
    color: black;
}

.button {
    padding: 15px 30px;
    font-size: 18px;
    outline: none;
    border: none;
    border-radius: 10px;
    transition: 0.5s;
    background: #1e1e1e;
    cursor: pointer;
    color: greenyellow;
    box-shadow: 0 0 10px #363636, inset 0 0 10px #363636;
  }